.btn-danger {
    background-color: var(--pastel-red);
    color: var(--black);

    padding: 0.5rem 0;
    width: 5rem;
    border-radius: 5px;

    font-size: 1.6em;
    text-decoration: none;
    text-align: center;
}

.btn-danger:hover {
    background-color: var(--black);
    color: var(--pastel-red);

    border: 1px solid var(--pastel-red);
    border-radius: 5px;
    box-shadow: 0.1rem 0.1rem var(--pastel-red);

    transition: 0.25s ease-out;
}

.btn-danger:active {
    background-color: var(--black);
    color: var(--pastel-red);

    border: 1px solid var(--pastel-red);
    border-radius: 5px;
    box-shadow: 0.01rem 0.05rem var(--pastel-red);

    transition: 0.25s ease-out;
}