@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font: 'Quicksand', sans-serif;
  --pastel-blue: #8caaee;
  --pastel-aqua: #99d0db;
  --pastel-yellow: #e4c890;
  --pastel-red: #fecaca;
  --pastel-purple: #ca9ee6;
  --pastel-green: #a6d189;
  --black: #242634;
  --slate: #313447;
  --dark-slate: #2a2c3c;
  --white: #c6d1f5;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font: 62.5% var(--font);
  background-color: var(--slate);
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

p {
  font-size: 1.2rem;
}
